body{
    font-family: Arial black, Arial, sans-serif;
    background-color: #121F38;
    color: #BCCCE6;
    margin:0;
    scroll-behavior: smooth;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}